:root{
    /* Las variables (abajo --) guardan valores en lamemoria del navegador, esto me permite reutilizarlas ordenar mejor mi codigo */
    /* esto es declarar las variables y asegnarles un valor */
    /* declararlas en root permite usarlas en todo el codigo css */
    --naranja: #F90;
    --negro: #000;
    --blanco: #FFF;
    --amarillo: rgb(255, 217, 0);
    --espacio: 40px;


}

/* reseteamos algunos valores predeterminados del navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing sirve para hacer mas controlable loselementos */
}

body{
    /* este color es para que mientras se carga la imagen de fondo no sea tan brusco elbamcio de colores */
    background-color: rgb(1, 8, 8);
    background-image: url('images/pattern.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera,
.contenedor{
    max-width: 1000px;
    margin: auto;

}

.cabecera h1{
    /* asi se usa la variable previamente declarada */
    color: var(--naranja);
    font-size: 24px;
}

.cabecera{
    display: flex;
    /* separa y los deja uno de cada lado */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;

}

.contenedor{
    background-color: var(--blanco);
    border-radius: 8px 8px 0 0;

    
}

.nav{
    background-color: var(--naranja);
    border-radius: 8px 8px 0 0;
    padding: 10px;
    /* separo la barra de navegacion hacia abajo */
    margin-bottom: var(--espacio);
}

.nav-lista{
    /* background-color: var(--naranja); */

    /* list-style:  espara quitar el puntito de las listas; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.nav-lista_item{
    /* background-color: var(--naranja); */
    flex-grow: 1;
    text-align: center;
    border-right: 2px solid var(--amarillo);
    
}

.nav-link{
    color: white;
    /* background-color: var(--naranja); */
    /* lo transforomo en elemento de bloque para que lazona de clic se agrande */
    display: block;
    /* quita el subrrayado alos link */
    text-decoration: none;
    /* negrita */
    font-weight: bold;
}

.nav-form{
    background-color: springgreen;
}

/*

        SLIDER DE IMAGENES

*/

.imagen{
    text-align: center;
    margin-bottom: var(--espacio);

}

/*

PRINCIPAL

*/

.principal{
    background-color: var(--blanco);
    margin-bottom: var(--espacio);
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}



h2{
    padding-bottom: 10px;
    font-size: 18px;
}


.productos{
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding-right: 50px;
}


.lamparas{    
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 5px;
}






/*


CATEGORIAS


*/
.categorias{
    background-color: var(--blanco);
    padding-left: 30px;
}

.categorias li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* padding-left: 10px; */
    list-style: none;
    border-bottom: 1px dashed gray;
    /* border: 3px solid red; */
}

.lista{
    padding-left: 10px;
}

.categorias a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: var(--negro);
    font-size: 17px;
    

}


